<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>258877671939-r3esqgo1n7jec3rb6ql3orl7f4g3ptgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258877671939-r3esqgo1n7jec3rb6ql3orl7f4g3ptgu</string>
	<key>API_KEY</key>
	<string>AIzaSyAOmgD7kf8QZ9EF0NYJ_Q0u0gLDYtCAhSA</string>
	<key>GCM_SENDER_ID</key>
	<string>258877671939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>plant-a-tree-7825b</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-a-tree-7825b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258877671939:ios:0b1453d00d02202a</string>
	<key>DATABASE_URL</key>
	<string>https://plant-a-tree-7825b.firebaseio.com</string>
</dict>
</plist>